{% extends "base.html.twig" %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Agence MaSuperAgence</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis a provident reiciendis nemo magni tempore quibusdam eos officia. Non fuga officia ratione possimus ipsum illo dolores obcaecati, provident neque dignissimos.</p>
</div>

<div class="container">

</div>
{% endblock body %}
